<%= form_for @listing,:html => {:multipart => true} do |form| %>
  <%= form.label :title %><br>
  <%= form.text_field :title %><br>
  <br>
  <%= form.label :description %><br>
  <%= form.text_area :description %><br>
  <br>
  <%= form.label :max_guests %><br>
  <%= form.number_field :max_guests %><br>
  <br>
  <%= form.label :price %><br>
  <%= form.number_field :price %><br>
  <br>  
  <label>My Photos</label>
    <% if @listing.photos %>
      <% @listing.photos.each do |a| %>
        <%= image_tag a.thumb.url %>
      <% end %>
    <% end %>
  <%= form.file_field :photos, multiple: true %>
  <%= form.submit %>
<% end %>

