<%= form_for @user do |form| %>
  <%= form.label :first_name %><br>
  <%= form.text_field :first_name %><br>
  <br>
  <%= form.label :last_name %><br>
  <%= form.text_field :last_name %><br>
  <br>
  <%= form.label :email %><br>
  <%= form.text_field :email, type: 'email' %><br>
  <br>
  <%= form.label :password %><br>
  <%= form.password_field :password %><br>
  <label>My Profile Picture</label>
  <%= image_tag(@user.avatar_url) if @user.avatar? %>
  <%= form.file_field :avatar %>

<%= form.submit %>
<% end %> 
