  <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag("logo.png", size: "50x50") %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="form-group navbar-brand">
            <%= form_for search_path, url:{action:'search'} do |r| %>
              <%= r.text_field :search_input%>
              <%= r.submit "Search" %>
            <% end %>
<!--             <input type="text" class="form-control" placeholder="Search"> -->
          </div>
        <ul class="nav navbar-nav navbar-right navbar-brand">
          <li><a href="#">BAH</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter By <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <form>
                <input type="radio" name="group1" id="item1" value="Price" checked>
                <label for="item1">Price</label>
                <br/>
                <input type="radio" name="group1" id="item2" value="Max Guests">
                <label for="item2">Max Guests</label>
                <br/>
                <input type="radio" name="group1" id="item3" value="City">
                <label for="item13">City</label>
              </form> 
            </ul>
            </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Settings <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'My Profile', current_user %></li>
              <li><%= link_to 'My Reservations', user_reservations_path(current_user) %></li>
              <li><a href="#">My Trip</a></li>
              <li><%= link_to "Create New Listing", new_listing_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div>
   <% if signed_in? -%>
    <% if current_user.superadmin? %>
      <h3>Welcome Super Admin </h3>
    <% elsif current_user.moderator? %>
      <h3>Welcome Moderator</h3>
    <% else  %>
      <h3>Welcome</h3>
   <% end %>
  <% end %>
  </div>
  
  <div id="header">
    <% if signed_in? -%>
      <h3>Welcome <%= current_user.first_name %></h3>
    <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
